@charset "UTF-8";
@import url(jquery.contextMenu.css);
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

.hidden {
  display: none !important; }

.info {
  display: inline-block;
  position: relative; }
  .info #pop-up-check {
    transform: scale(0);
    position: absolute; }
    .info #pop-up-check:checked ~ .pop-up {
      display: block; }
  .info .info-button {
    background: url(../img/info-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    border: none; }
  .info .pop-up {
    width: 300px;
    max-height: 300px;
    overflow: scroll;
    border-radius: 10px;
    background: #ffffff;
    font-size: 0.8rem;
    text-align: left;
    padding: 15px;
    box-shadow: 0px 12px 48px rgba(109, 117, 141, 0.2);
    display: none; }
    .info .pop-up[data-show] {
      display: block; }
    .info .pop-up label {
      width: 20px;
      height: 20px;
      float: right;
      display: block;
      margin-left: 10px;
      border: none;
      background: url(../img/close-icon.svg);
      background-repeat: no-repeat;
      background-size: 60%;
      background-position: center; }

html {
  overflow-x: hidden; }

body .container-main nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  position: absolute;
  top: 0;
  width: 100%; }
  body .container-main nav .logo {
    max-width: 200px;
    width: 50%; }
    body .container-main nav .logo img {
      width: 100%; }
  body .container-main nav .navigation #menu {
    transform: scale(0);
    position: absolute; }
  body .container-main nav .navigation #menu:checked + label #hamburger-1 {
    transform: translateY(0) rotate(45deg); }
  body .container-main nav .navigation #menu:checked + label #hamburger-2 {
    transform: translateY(0) rotate(-45deg); }
  body .container-main nav .navigation #menu:checked ~ .menu {
    transform: scaleX(1) translateX(0); }
  body .container-main nav .navigation #menu:checked + label {
    position: fixed;
    top: 40px;
    right: 8%; }
  body .container-main nav .navigation #menu:checked ~ .menu > ul li:nth-child(1) {
    animation: slide 370ms ease-in; }
  body .container-main nav .navigation #menu:checked ~ .menu > ul li:nth-child(2) {
    animation: slide 390ms ease-in; }
  body .container-main nav .navigation #menu:checked ~ .menu > ul li:nth-child(3) {
    animation: slide 410ms ease-in; }
  body .container-main nav .navigation #menu:checked ~ .menu > ul li:nth-child(4) {
    animation: slide 430ms ease-in; }
  body .container-main nav .navigation label {
    width: 60px;
    height: 60px;
    background: #2980b9;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 10px;
    position: relative;
    align-items: center;
    z-index: 2; }
    body .container-main nav .navigation label:hover {
      transform: scale(1.1);
      transition: transform 0.2s ease; }
    body .container-main nav .navigation label .hamburger {
      background: #D9EEFD;
      height: 4px;
      border-radius: 4px;
      position: absolute;
      width: 65%;
      top: 50%;
      margin-top: -2px;
      transition: transform 0.2s ease; }
    body .container-main nav .navigation label #hamburger-1 {
      transform: translateY(-5px); }
    body .container-main nav .navigation label #hamburger-2 {
      transform: translateY(5px); }
  body .container-main nav .navigation .menu {
    width: 500px;
    max-width: 100%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background: #2980b9;
    transform: scaleX(0) translateX(500px);
    transform-origin: right;
    transition: transform 0.2s ease;
    padding: 100px 45px;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    z-index: 1; }
    body .container-main nav .navigation .menu .menu-list {
      list-style: none;
      font-family: "lora", serif;
      font-size: 2rem;
      line-height: 3.5rem; }

@keyframes slide {
  0% {
    transform: translateX(500px); }
  100% {
    transform: translateX(0); } }
      body .container-main nav .navigation .menu .menu-list li a {
        color: #D9EEFD;
        text-decoration: none; }
      body .container-main nav .navigation .menu .menu-list li:hover {
        text-decoration: underline; }
    body .container-main nav .navigation .menu .menu-logo {
      width: 400px;
      max-width: 60%; }
      body .container-main nav .navigation .menu .menu-logo img {
        width: 100%; }

body .container-main .hero {
  width: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  display: flex;
  justify-content: space-between;
  padding-left: 8%; }
  body .container-main .hero .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #777777;
    max-width: 45%; }
    body .container-main .hero .hero-text h1 {
      font-family: "Merriweather", serif;
      font-weight: 700;
      font-size: 4rem; }
    body .container-main .hero .hero-text h3 {
      font-family: "lora", serif;
      font-size: 1.7rem;
      margin-top: 25px; }
  body .container-main .hero .hero-image {
    max-width: 60%;
    overflow: hidden; }
    body .container-main .hero .hero-image img {
      right: 0;
      width: 769px;
      top: 120px;
      z-index: 1; }

body .container-main .features {
  width: 100%;
  padding: 20px 8%;
  margin-top: 30px;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  position: relative; }
  body .container-main .features::after {
    content: '';
    background: linear-gradient(#32bed2 0%, #32bed2 1.12%, #bdf7ff 100%);
    opacity: 0.15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }
  body .container-main .features .cards {
    width: 100%;
    max-width: 950px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    body .container-main .features .cards .feature-card {
      width: 28%;
      max-width: 300px;
      min-width: 200px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 25px;
      min-height: 450px;
      margin: 35px 0; }
      body .container-main .features .cards .feature-card img {
        height: 40%;
        margin-bottom: 15px;
        max-width: 100%; }
      body .container-main .features .cards .feature-card h3 {
        font-family: "Merriweather", serif;
        font-size: 1.5rem;
        text-align: center;
        color: #2980b9;
        margin-bottom: 15px; }
      body .container-main .features .cards .feature-card h5 {
        font-family: "lora", serif;
        font-size: 1rem;
        text-align: center;
        color: #777777;
        margin-bottom: 15px;
        height: 20%; }
      body .container-main .features .cards .feature-card .link-button {
        width: 90%;
        height: 50px;
        border-radius: 15px;
        background: #fff;
        border: none;
        font-family: "Merriweather", serif;
        font-size: 1rem;
        text-align: center;
        color: #777777;
        text-decoration: none;
        line-height: 50px; }
      body .container-main .features .cards .feature-card#ranger {
        background-color: #BBE1FA; }
      body .container-main .features .cards .feature-card#genie {
        background-color: #E2F0B4; }
      body .container-main .features .cards .feature-card#timer {
        background-color: #97E5EF; }

body .container-main .feature-section {
  background: rgba(151, 229, 239, 0.38);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
  text-align: center; }
  body .container-main .feature-section .feature-logo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 30px;
    max-width: 350px; }
    body .container-main .feature-section .feature-logo img {
      width: 90%; }
  body .container-main .feature-section .feature-intro {
    color: #777777;
    font-family: "lora", serif;
    font-size: 1.5rem;
    margin-bottom: 50px;
    width: 90%; }
  body .container-main .feature-section .text-area {
    max-width: 600px;
    width: 90%; }
    body .container-main .feature-section .text-area .script-input {
      width: 100%;
      font-family: "lora", serif;
      font-size: 1rem;
      height: 250px;
      border: 1px solid #d1cece;
      border-radius: 10px;
      padding: 15px;
      box-shadow: none;
      resize: none; }
      body .container-main .feature-section .text-area .script-input::placeholder {
        text-align: center;
        padding-top: 90px;
        color: #A0A0A0; }
  body .container-main .feature-section .count-and-play {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px; }
    body .container-main .feature-section .count-and-play .play-script {
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      font-family: "lora", serif;
      color: #777777;
      width: 60%;
      max-width: 300px; }
      body .container-main .feature-section .count-and-play .play-script #play-button {
        background: #2980b9 url(../img/play-icon.svg);
        background-repeat: no-repeat;
        background-position: 55% center;
        background-size: 40%;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        border: none;
        margin-right: 10px;
        cursor: pointer; }
        body .container-main .feature-section .count-and-play .play-script #play-button.playing {
          background: #2980b9 url(../img/pause-icon.svg);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 40%; }
        body .container-main .feature-section .count-and-play .play-script #play-button:disabled {
          filter: opacity(0.5);
          cursor: default; }
      body .container-main .feature-section .count-and-play .play-script .play-widget {
        width: 80%; }
        body .container-main .feature-section .count-and-play .play-script .play-widget .load-animation {
          float: left; }
        body .container-main .feature-section .count-and-play .play-script .play-widget .play-indicator {
          display: flex;
          align-items: center; }
          body .container-main .feature-section .count-and-play .play-script .play-widget .play-indicator .progress {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            flex-wrap: nowrap;
            padding-top: 15px;
            width: 100%; }
            body .container-main .feature-section .count-and-play .play-script .play-widget .play-indicator .progress .play-time {
              font-size: 0.8rem;
              margin-top: 8px; }
          body .container-main .feature-section .count-and-play .play-script .play-widget .play-indicator .audio-menu {
            position: relative; }
            body .container-main .feature-section .count-and-play .play-script .play-widget .play-indicator .audio-menu #option-button {
              border: none;
              background: transparent;
              width: 40px;
              cursor: pointer; }
            body .container-main .feature-section .count-and-play .play-script .play-widget .play-indicator .audio-menu #download-button {
              position: absolute;
              background-color: #ffffff;
              border: none;
              border-radius: 10px;
              display: flex;
              align-items: center;
              padding: 10px;
              text-decoration: none;
              color: #777777;
              font-family: "lora", serif;
              top: -5px;
              right: -1px;
              display: none; }
              body .container-main .feature-section .count-and-play .play-script .play-widget .play-indicator .audio-menu #download-button img {
                margin-right: 10px; }
    body .container-main .feature-section .count-and-play .word-count {
      background-color: #2980b9;
      color: #ffffff;
      font-size: 1rem;
      border-radius: 5px;
      padding: 5px 7px; }
    body .container-main .feature-section .count-and-play .text-input-error {
      color: #777777;
      font-size: 0.8rem;
      font-family: "lora", serif; }
  body .container-main .feature-section .read-time {
    font-family: "lora", serif;
    color: #777777;
    font-size: 1.1rem;
    margin-top: 25px; }
    body .container-main .feature-section .read-time span {
      display: block; }
    body .container-main .feature-section .read-time #time-result {
      margin-top: 10px;
      font-size: 1.5rem;
      color: #373A3C; }
  body .container-main .feature-section .wpm-adjust {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    body .container-main .feature-section .wpm-adjust .range-selector {
      width: 90%;
      max-width: 400px;
      margin-top: 30px; }
      body .container-main .feature-section .wpm-adjust .range-selector #wpm-selector {
        width: 100%; }
    body .container-main .feature-section .wpm-adjust .wpm-value {
      margin-top: 20px;
      font-family: "lora", serif;
      color: #777777; }
      body .container-main .feature-section .wpm-adjust .wpm-value #wpm-value {
        font-size: 1.5rem;
        margin-bottom: 1px; }

body .container-main footer {
  color: #777777;
  text-align: center;
  font-family: "lora", serif;
  font-size: 1.5rem;
  padding: 50px 0; }
  body .container-main footer strong {
    font-weight: 700; }
  body .container-main footer a {
    text-decoration: none;
    color: inherit; }
  body .container-main footer #coffee {
    font-size: 1rem;
    margin-top: 15px; }

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 50px; }

.lds-ellipsis div {
  position: absolute;
  top: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #2980b9;
  animation-timing-function: cubic-bezier(0, 1, 1, 0); }

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite; }

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite; }

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(24px, 0); } }

.range-selector {
  /* Special styling for WebKit/Blink */
  /* All the same stuff for Firefox */
  /* All the same stuff for IE */ }
  .range-selector input[type=range] {
    -webkit-appearance: none;
    /* Hides the slider so that custom slider can be made */
    width: 100%;
    /* Specific width is required for Firefox. */
    background: transparent;
    /* Otherwise white in Chrome */ }
  .range-selector input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; }
  .range-selector input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent; }
  .range-selector input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background: #2980b9;
    cursor: pointer;
    margin-top: -6px;
    /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */ }
  .range-selector input[type=range]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background: #2980b9;
    border: none;
    cursor: pointer; }
  .range-selector input[type=range]::-ms-thumb {
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background: #2980b9;
    cursor: pointer;
    border: none; }
  .range-selector input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #2980b9;
    border-radius: 7px; }
  .range-selector input[type=range]:focus::-webkit-slider-runnable-track {
    background: #2980b9; }
  .range-selector input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #2980b9;
    border-radius: 7px; }
  .range-selector input[type=range]::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #2980b9;
    border-radius: 7px; }
  .range-selector input[type=range]::-ms-fill-lower {
    background: #2980b9;
    border: none;
    border-radius: 2.6px; }
  .range-selector input[type=range]:focus::-ms-fill-lower {
    background: #2980b9; }
  .range-selector input[type=range]::-ms-fill-upper {
    background: #2980b9;
    border: none;
    border-radius: 2.6px; }
  .range-selector input[type=range]:focus::-ms-fill-upper {
    background: #2980b9; }

.context-menu-list {
  padding: .25em 0;
  margin: .3em;
  font-family: "lora", serif;
  font-size: 0.85rem;
  border: none;
  border-radius: .5em;
  box-shadow: 0px 12px 48px rgba(109, 117, 141, 0.2); }

.context-menu-item {
  padding: .4em 2em; }
  .context-menu-item a {
    text-decoration: none;
    color: inherit; }
  .context-menu-item .selected::before {
    content: ' ✔';
    position: absolute;
    left: 10px; }

.context-menu-item.context-menu-hover {
  background-color: #2980b9; }

strong {
  font-weight: bold; }
