@import 'jquery.contextMenu.css';

$dark-green: #2980b9;
$menu-blue: #D9EEFD;
$lora: 'lora', serif;
$merriweather: 'Merriweather', serif;
$lato: 'Lato', sans-serif;
$gen-padding: 20px 8%;
$gray: #777777;
$timer-color: #97E5EF;

* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.hidden {
  display: none!important;
}

.info {
  display: inline-block;
  position: relative;
  // width: 200px;

  #pop-up-check {
    transform: scale(0);
    position: absolute;

    &:checked ~ .pop-up {
      display: block;
    }
  }

  .info-button {
    background: url(../img/info-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    border: none;


  }

  .pop-up {
    // max-width: 90%;
    width: 300px;
    max-height: 300px;
    overflow: scroll;
    border-radius: 10px;
    background: #ffffff;
    // position: absolute;
    font-size: 0.8rem;
    text-align: left;
    padding: 15px;
    // bottom: 20px;
    // left: 20px;
    // transform: scale(0);
    // transform-origin: bottom left;
    // transition: transform 0.2s ease;
    box-shadow: 0px 12px 48px rgba(109,117,141,0.2);
    display: none;

    &[data-show] {
        display: block;
      }

    label {
      width: 20px;
      height: 20px;
      float: right;
      display: block;
      margin-left: 10px;
      border: none;
      background: url(../img/close-icon.svg);
      background-repeat: no-repeat;
      background-size: 60%;
      background-position: center;
    }
  }

}

@mixin slidein {
  @for $i from 1 through 4 {
    &:nth-child(#{$i}) {
      animation: slide #{350 + $i * 20}ms ease-in;
      // animation-delay: #{$i}s;
    }
  }
}

html {
  overflow-x: hidden;
}
body {

  .container-main {

    nav {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      padding: $gen-padding;
      position: absolute;
      top: 0;
      width: 100%;

      .logo {
        max-width: 200px;
        width: 50%;

        img {
          width: 100%;
        }
      }

      .navigation {

        #menu {
          transform: scale(0);
          position: absolute;
        }

        #menu:checked + label #hamburger-1{
          transform: translateY(0) rotate(45deg);
        }

        #menu:checked + label #hamburger-2{
          transform: translateY(0) rotate(-45deg);
        }

        #menu:checked ~ .menu {
          transform: scaleX(1) translateX(0);
        }

        #menu:checked + label {
          position: fixed;
          top: 40px;
          right: 8%;
        }

        #menu:checked ~ .menu > ul li {
          // animation: slide 700ms ease-in;
          @include slidein;
        }

        label {
          width: 60px;
          height: 60px;
          background: $dark-green;
          border-radius: 100%;
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: space-between;
          padding: 0 10px;
          position: relative;
          align-items: center;
          z-index: 2;

          &:hover {
            transform: scale(1.1);
            transition: transform 0.2s ease;
          }

          .hamburger {
            background: $menu-blue;
            height: 4px;
            border-radius: 4px;
            position: absolute;
            width: 65%;
            top: 50%;
            margin-top: -2px;
            transition: transform 0.2s ease;
          }

          #hamburger-1 {
            transform: translateY(-5px);
          }

          #hamburger-2 {
            transform: translateY(5px);
          }

        }

        .menu {
          width: 500px;
          max-width: 100%;
          height: 100vh;
          position: fixed;
          right: 0;
          top: 0;
          background: $dark-green;
          transform: scaleX(0) translateX(500px);
          transform-origin: right;
          transition: transform 0.2s ease;
          padding: 100px 45px;
          flex-direction: column;
          justify-content: space-between;
          display: flex;
          z-index: 1;

          .menu-list {
            list-style: none;
            font-family: $lora;
            font-size: 2rem;
            line-height: 3.5rem;

            @keyframes slide {
              0% {
                transform: translateX(500px);
              }
              100% {
                transform: translateX(0);
              }
            }

            li {

              a {
                color: $menu-blue;
                text-decoration: none;
              }
              &:hover {
                text-decoration: underline;
              }
            }
          }

          .menu-logo {
            width: 400px;
            max-width: 60%;
            padding-bottom: 50px;

            img {
              width: 100%;
            }
          }
        }
      }
    }

    .hero {
      width: 100%;
      top: 0;
      right: 0;
      z-index: -1;
      display: flex;
      justify-content: space-between;
      padding-left: 8%;

      .hero-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $gray;
        max-width: 45%;

        h1 {
          font-family: $merriweather;
          font-weight: 700;
          font-size: 4rem;
        }

        h3 {
          font-family: $lora;
          font-size: 1.7rem;
          margin-top: 25px;
        }
      }

      .hero-image {
        max-width: 60%;
        overflow: hidden;

        img {
          right: 0;
          width: 769px;
          top: 120px;
          z-index: 1;
        }
      }
    }

    .features {
      width: 100%;
      padding: $gen-padding;
      margin-top: 30px;
      padding: 50px 0;
      display: flex;
      justify-content: center;
      position: relative;

      &::after {
        content: '';
        background: linear-gradient(#32bed2 0%, #32bed2 1.12%, #bdf7ff 100%);
        opacity: 0.15;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;

      }

      .cards {
        width: 100%;
        max-width: 950px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .feature-card {
          width: 28%;
          max-width: 300px;
          min-width: 200px;
          border-radius: 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          padding: 25px;
          min-height: 450px;
          margin: 35px 0;

          &:not(:first-child):not(:last-child) {

          }

          img {
            height: 40%;
            margin-bottom: 15px;
            max-width: 100%;
          }

          h3 {
            font-family: $merriweather;
            font-size: 1.5rem;
            text-align: center;
            color: $dark-green;
            margin-bottom: 15px;
          }

          h5 {
            font-family: $lora;
            font-size: 1rem;
            text-align: center;
            color: $gray;
            margin-bottom: 15px;
            height: 20%;
          }

          .link-button {
            width: 90%;
            height: 50px;
            border-radius: 15px;
            background: #fff;
            border: none;
            font-family: $merriweather;
            // font-weight: 600;
            font-size: 1rem;
            text-align: center;
            color: $gray;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;

          }

          &#ranger {
            background-color: #BBE1FA;
          }

          &#genie {
            background-color: #E2F0B4
          }

          &#timer {
            background-color: $timer-color;
          }
        }


      }

    }

    .feature-section {
      background: rgba(151, 229, 239, 0.38);
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 50px 0;
      text-align: center;


      .feature-logo {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 20px;
        margin-top: 60px;
        max-width: 300px;

        img {
          width: 90%;
          max-height: 95px;

        }
        //
        // span {
        //   font-family: $merriweather;
        //   color: $dark-green;
        //   font-size: 200%;
        //   margin-bottom: 25px;
        //   margin-left:25px;
        //   white-space: nowrap;
        // }
      }

      .feature-intro {
        color: $gray;
        font-family: $lora;
        font-size: 1.2rem;
        margin-bottom: 30px;
        width: 90%;
      }

      .text-area {
        max-width: 600px;
        width: 90%;

        .input-source-selection {
          display: flex;
          justify-content: center;
          width: 100%;
          padding: 0 3%;
          margin-left: auto;
          margin-right: auto;
          font-family: $merriweather;
          font-size: 1rem;
          color: $gray;
          border-radius: 10px 10px 0 0;
          background-color: #fff;
          border: 1px solid #d1cece;
          border-bottom: 0;

          .link-source {
            width: 50%;
            max-width: 200px;
            position: relative;

            label {
              width: 100%;
              padding: 10px 0;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              font-size: 0.9rem;
              font-weight: 400;
              font-family: $lato;

              &:hover {
                background-color: #ddd;
              }
            }

            .source-selector-radio {
              opacity: 0;
              width: 0.1px;
              height: 0.1px;
              position: absolute;

              &:checked + label {
                border-bottom: 3px solid $dark-green;
              }
            }

          }
        }

        .script-input {
          width: 100%;
          font-family: $lora;
          font-size: 1rem;
          height: 250px;
          border: 1px solid #d1cece;
          border-radius: 10px;
          padding: 15px;
          box-shadow: none;
          resize: none;

          &::placeholder {
            text-align: center;
            padding-top: 90px;
            color: #A0A0A0;
            transition: padding 0.2s ease;
          }
// --> Begin article reader styles

          &.article-reader {
            border-radius: 0 0 10px 10px;
            border-top: 0;
            transition: height 0.2s ease;
            font-size: 0.9rem;

            &.link {
              height: 65px;

              &::placeholder {
                padding: 8px;
              }
            }

            &.text {
              height: 150px;

              &::placeholder {
                padding: 40px;
              }
            }
          }
        }
      }

      .count-and-play {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;



        .play-script {
          display: flex;
          align-items: center;
          flex-direction: row;
          flex-wrap: nowrap;
          font-family: $lora;
          color: $gray;
          width: 50%;
          max-width: 300px;


          #play-button {
            background: $dark-green url(../img/play-icon.svg);
            background-repeat: no-repeat;
            background-position: 55% center;
            background-size: 40%;
            border-radius: 100%;
            width: 40px;
            height: 40px;
            border: none;
            margin-right: 10px;
            cursor: pointer;

            &.playing {
              background: $dark-green url(../img/pause-icon.svg);
              background-repeat: no-repeat;
              background-position: center center;
              background-size: 40%;
            }

            &:focus {
              // outline: none;
            }

            &:disabled {
              filter: opacity(0.5);
              cursor: default;
            }

          }

          .play-widget {
            width: 80%;

            .load-animation {
              float: left;
            }

            .play-indicator {
              display: flex;
              align-items: center;

              .progress {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                flex-wrap: nowrap;
                padding-top: 15px;
                width: 100%;

                .play-time {
                  font-size: 0.8rem;
                  margin-top: 8px;
                }
              }

              .audio-menu {
                position: relative;

                #option-button {
                  border: none;
                  background: transparent;
                  width: 40px;
                  cursor: pointer;

                  &:focus ~ a {
                    // display: flex;
                  }
                }

                #download-button {
                  position: absolute;
                  background-color: #ffffff;
                  border: none;
                  border-radius: 10px;
                  display: flex;
                  align-items: center;
                  padding: 10px;
                  text-decoration: none;
                  color: $gray;
                  font-family: $lora;
                  top: -5px;
                  right: -1px;
                  display: none;

                  img {
                    margin-right: 10px;
                  }


                }
              }

            }
          }

        }

        .word-count {
          background-color: $dark-green;
          color: #ffffff;
          font-size: 1rem;
          border-radius: 5px;
          padding: 5px 7px;
        }

        .text-input-error {
          color: $gray;
          font-size: 0.8rem;
          font-family: $lora;
        }

// <-- Article reader style begins -->
        &.article-reader {
          justify-content: center;

          .play-script {
            width: auto;
            max-width: 600px;
            justify-content: center;

            &.playing {
              width: 90%;
            }

            #play-button {
              margin-right: 10px;
              flex-shrink: 0;
              // margin-top: 10px;
            }
          }

          .play-widget {

            .play-indicator {

              .range-selector {
                flex-direction: row;
                padding-top: 0;
                align-items: center;

                #progress-bar {
                  flex-shrink: 1;
                }

                .play-time {
                  flex-shrink: 0;
                  margin-left: 15px;
                  margin-top: 0;
                }
              }
            }
          }
        }
      }

      .read-time {
        font-family: $lora;
        color: $gray;
        font-size: 1.1rem;
        margin-top: 25px;

        span {
          display: block;
        }

        #time-result {
          margin-top: 10px;
          font-size: 1.5rem;
          color: #373A3C;
        }
      }

      .wpm-adjust {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .range-selector {
          width: 90%;
          max-width: 400px;
          margin-top: 30px;

          #wpm-selector {
            width: 100%;
          }
        }

        .wpm-value {
          margin-top: 20px;
          font-family: $lora;
          color: $gray;

          span {
            // display: block;
          }

          #wpm-value {
            font-size: 1.5rem;
            margin-bottom: 1px;
          }
        }
      }

      &#script-timer {
      }

      .article-content {
        font-family: $lora;
        color: $gray;
        font-size: 0.8rem;
        text-align: left;
        // width: 90%;
        margin: 30px auto 0;
        max-height: 180px;
        overflow-y: scroll;
        overflow-x: hidden;
        text-overflow: ellipsis;
        box-shadow: 0px 12px 48px rgba(109,117,141,0.2);
        padding: 20px;
        border-radius: 10px;
        background-color: rgba(255,255,255,0.23);

        .article-heading {
          font-size: 1.2rem;
          margin-bottom: 8px;
        }
      }
    }

    footer {
      color: $gray;
      text-align: center;
      font-family: $lora;
      font-size: 1.5rem;
      padding: 50px 0;
      width: 90%;
      margin-left: auto;
      margin-right: auto;

      strong {
        font-weight: 700;
      }

      a {
        text-decoration: none;
        color: inherit;
      }

      #coffee {
        font-size: 1rem;
        margin-top: 15px;
      }
    }
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 50px;
}
.lds-ellipsis div {
  position: absolute;
  top: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $dark-green;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.range-selector {

  input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type=range]:focus {
    // outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }

  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  /* Special styling for WebKit/Blink */
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background: $dark-green;
    cursor: pointer;
    margin-top: -6px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    border: none;
  }

  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background: $dark-green;
    border: none;
    cursor: pointer;
  }

  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background: $dark-green;
    cursor: pointer;
    border: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: $dark-green;
    border-radius: 7px;
    border: none;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: $dark-green;
    border: none;
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: $dark-green;
    border-radius: 7px;
    border: none;
  }

  input[type=range]::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: $dark-green;
    border-radius: 7px;
  }
  input[type=range]::-ms-fill-lower {
    background: $dark-green;
    border: none;
    border-radius: 2.6px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: $dark-green;
    border: none;
  }
  input[type=range]::-ms-fill-upper {
    background: $dark-green;
    border: none;
    border-radius: 2.6px;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: $dark-green;
    border: none;
  }

}

.context-menu-list {
    padding: .25em 0;
    margin: .3em;
    font-family: $lora;
    font-size: 0.85rem;
    border: none;
    border-radius: .5em;
    box-shadow: 0px 12px 48px rgba(109,117,141,0.2);
}

.context-menu-item {
  padding: .4em 2em;

  a {
    text-decoration: none;
    color: inherit;
  }

  .selected::before {
    content: ' ✔';
    position: absolute;
    left: 10px;
  }
}

.context-menu-item.context-menu-hover {
  background-color: $dark-green;
}

strong {
  font-weight: bold;
}

@media screen and (max-width: 650px) {
  body .container-main .features .cards .feature-card {
    width: 90%;
    max-width: 350px;
    min-height: 200px;

    h3 {
      font-size: 1.8rem;
    }

    h5 {
      font-size: 1.4rem;
    }

    .link-button {
      font-size: 1.2rem;
    }
  }

  body .container-main .hero {
    flex-direction: column-reverse;

    .hero-image {
      max-width: 90%;
      align-self: flex-end;
      margin-top: -320px;
    }

    .hero-text {
      max-width: 90%;
      text-align: center;

      h1 {
        font-size: 3rem;
        margin-top: 30px;
      }
    }
  }
}
